<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/cocktail.css">
    <title>Cocktails</title>
</head>

<body>
    <div class="container">

        <h1>Cocktails</h1>
        <div class="alcoholList">
            <% if(alcoholList != undefined) { %>
            <span>All</span>
            <% for (let i = 0; i < alcoholList.length; i++) { %>
            <span><%= alcoholList[i] %></span>
            <% } 
            }%>
        </div>

        <div class="cocktails">
            <table>
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>PRICE</th>
                    </tr>
                </thead>

                <tbody>
                    <% if(cocktails != undefined) { %>
                    <tr>
                        <% for (let i = 0; i < cocktails.length; i++) { %>
                        <td>
                            <% if (alcoholList.includes(cocktails[i].contains[0])) { %>
                            <%= cocktails[i].name %>
                            <% } else { %>
                            <%= cocktails[i].name %><span> (non-alcoholic) </span> <% } %> </br>
                            <sub><%= cocktails[i].contains %></sub>
                        </td>
                        <td><%= cocktails[i].price %> Ft</td>
                    </tr>
                    <% }
                    } %>
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>